################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/NNR.CoPackageInspector.RT.Framework
/NNR.CoPackageInspector.RT.Framework/obj/Debug
/NNR.CopackageInspector.RT.Framework.Controller/bin/Debug
/NNR.CopackageInspector.RT.Framework.Controller/obj/Debug
/NNR.CoPackageInspector.RT.Framework.Model/bin/Debug
/NNR.CoPackageInspector.RT.Framework.Model/obj/Debug
/NNR.CoPackegeInspextor/bin/Debug
/NNR.CoPackegeInspextor/obj/Debug
/NNR.CoPakageInspector.RT.MainApp.Model/obj/Debug
/NNR.CoPackageInspector.RT.MainApp.Interface/bin/Debug
/NNR.CoPackageInspectorApp/bin/Debug
/NNR.CoPackageInspectorApp/obj/Debug
/NNR.CoPakageInspector.RT.MainApp.View/bin/Debug
/NNR.CoPakageInspector.RT.MainApp.View/obj/Debug
/NNR.CoPackageInspector.RT.MainApp.Interface/obj/Debug
/NNR.CoPakageInspector.RT.MainApp.Model/bin/Debug
/NNR.Liblary.Utility/obj/Debug
/NNR.Liblary.Utility/bin/Debug
/NNR.CoPackageInspector.MainApp.Runner/bin/Debug
/NNR.CoPackageInspector.MainApp.Runner/obj/Debug
/NNR.Liblary.Utility/.vs
/NNR.CoPackageInspector.RT.Framework.Model/.vs
/NNR.CoPackageInspector.RT.Framework.Interface/bin/Debug
/NNR.CoPackageInspector.RT.Framework.Interface/obj/Debug
/NNR.CoPakageInspector.RT.MainApp.Controller/.vs
/NNR.CoPakageInspector.RT.MainApp.Controller/bin/Debug
/NNR.CoPakageInspector.RT.MainApp.Controller/obj/Debug
/NNR.CoPackageInspector.MainApp.Runner/.vs
/NNR.CoPackageInspector.RT.Framework.Interface/.vs
